<a href="https://colab.research.google.com/github/Gustavo-RibMartins/estudos-python/blob/develop/curso/python_10_lambdas_e_funcoes_integradas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1.Lambdas

Conhecidas por Expressões Lambdas ou simplesmente Lambdas, são funções sem nome, ou seja, funções anônimas.

In [1]:
# Função Python comum

def funcao(x):
  return 3 * x + 1

print(funcao(4))

13

In [2]:
# Expressão Lambda

lambda x: 3 * x + 1

Sintaxe

```python
lambda <parâmetros>: <retorno>
```

E como utilizar a expressão lambda? Dando um nome a ela.

In [3]:
calc = lambda x: 3 * x + 1

print(calc(4))

13

Se pra usar a lambda é preciso dar um nome a ela, qual a vantagem de usar uma Lambda ao invés de uma função?

Primeiro, como foi feito acima, declarando uma variável para usar a Lambda não é uma boa forma de uso deste recurso, posteriormente ficará claro os casos de uso de Lambdas.

In [8]:
# Podemos ter expressões lambdas com múltiplas entradas

nome_completo = lambda nome, sobrenome: nome.strip().title() + ' ' + sobrenome.strip().title()

print(nome_completo('gustavo ', '      RIBEIRO '))

# strip(): remove espaços a esquerda e a direita da uma string

Gustavo Ribeiro

Em funções Python podemos ter nenhuma ou várias entradas. Em Lambdas também.

In [10]:
amar = lambda : 'Como não amar Python?'
uma_entrada = lambda x: 3 * x + 1
duas_entradas = lambda x, y: (x * y) ** 0.5
tres_entradas = lambda x, y, z: 3 / (1 / x + 1 / y + 1 / z)

print(amar())
print(uma_entrada(5))
print(duas_entradas(5, 6))
print(tres_entradas(5, 6, 7))

Como não amar Python?
16
5.477225575051661
5.88785046728972

In [11]:
# Exemplo para ordenar lista de autores por sobrenome
# geralmente é assim que se usa expressões lambda

autores = ['Isaac Asimov', 'Ray Bradbury', 'Robert Heinlein', 'Arthur C. Clarke', 'Frank Herbert', 'Orson Scott Card', 'Douglas Adams', 'H. G. Wells', 'Leigh Brackett']

autores.sort(key=lambda sobrenome: sobrenome.split(' ')[-1].lower())
print(autores)

# normalmente, usamos lambdas nas chaves das funções (key).

['Douglas Adams', 'Isaac Asimov', 'Leigh Brackett', 'Ray Bradbury', 'Orson Scott Card', 'Arthur C. Clarke', 'Robert Heinlein', 'Frank Herbert', 'H. G. Wells']

In [12]:
def funcao_quadratica(a, b, c):
  """Retorna a função f(x) = a*x**2 + b*x + c"""
  return lambda x: a*x**2 + b*x + c

print(funcao_quadratica(3, 0, 1)(2)) # primeiro passa (a, b, c), e depois o valor (2) para a lambda

13

Geralmente, aplicamos lambdas em filtragem e ordenação de dados, mas é possível usá-las em mais contextos.

# 2.Map

Com map, fazemos mapeamento de valores para função.

In [13]:
import math

def area(r):
  """Calcula a área de um circulo com raio 'r'."""
  return math.pi * (r ** 2)

print(area(2))

12.566370614359172

In [14]:
# e se tivessemos uma lista de raios?
raios = [2, 5, 7.1, 0.3, 10, 44]

# forma comum
areas = []
for r in raios:
  areas.append(area(r))

print(areas)

[12.566370614359172, 78.53981633974483, 158.36768566746147, 0.2827433388230814, 314.1592653589793, 6082.12337734984]

In [16]:
# forma 2 - usando map

areas = map(area, raios)
print(areas) # retorna um map object
print(list(areas))

<map object at 0x7fbb835417e0>
[12.566370614359172, 78.53981633974483, 158.36768566746147, 0.2827433388230814, 314.1592653589793, 6082.12337734984]

Map é uma função que recebe 2 parâmetros:

```python
map(<funcao>, <iteravel>)
```

In [17]:
# forma 3 - Map com Lambda

print(list(map(lambda r: math.pi * (r ** 2), raios)))

[12.566370614359172, 78.53981633974483, 158.36768566746147, 0.2827433388230814, 314.1592653589793, 6082.12337734984]

**Obs.:** depois de utilizar a função map() depois da primeira utilização do resultado (convertendo, fazendo um loop), ele zera!

In [22]:
# Lista de Tuplas (cidade, temperatura em ºC)
cidades = [('Berlin', 29), ('Cairo', 36), ('Buenos Aires', 19), ('Los Angeles', 26), ('Tokio', 27), ('Nova York', 28), ('Londres', 22)]
print(cidades)

# Vamos converter as temperaturas de °C para °F
# farenheit = 9/5 * °C + 32

c_para_f = lambda dado: (dado[0], (9/5) * dado[1] + 32)

print(list(map(c_para_f, cidades)))

[('Berlin', 29), ('Cairo', 36), ('Buenos Aires', 19), ('Los Angeles', 26), ('Tokio', 27), ('Nova York', 28), ('Londres', 22)]
[('Berlin', 84.2), ('Cairo', 96.8), ('Buenos Aires', 66.2), ('Los Angeles', 78.80000000000001), ('Tokio', 80.6), ('Nova York', 82.4), ('Londres', 71.6)]

In [20]:
areas = map(area, raios)
print(list(areas)) # usando o resultado do map object pela 1ª vez
print(list(areas)) # se tentar usar de novo, ele já estará zerado

[12.566370614359172, 78.53981633974483, 158.36768566746147, 0.2827433388230814, 314.1592653589793, 6082.12337734984]
[]

# 3.Filter

Serve para filtrar dados de uma determinada coleção.

In [24]:
import statistics # biblioteca para trabalhar com dados estatisticos

# dados coletados de algum sensor
dados = [1.3, 2.7, 0.8, 4.1, 4.3, -0.1]

# calculando a média dos dados usando a função mean()

statistics.mean(dados)

2.183333333333333

**Obs.:** assim como a função map(), a filter() recebe dois parâmetros, sendo uma função e um iterável.

In [31]:
import statistics

dados = [1.3, 2.7, 0.8, 4.1, 4.3, -0.1]
media = statistics.mean(dados)

res = filter(lambda x: x > media, dados)
print(res)
print(list(res))
print(media)

print(list(res)) # assim como o map, após usar pela 1ª vez, ele é zerado (dados excluídos da memória)

<filter object at 0x7fbb8359f790>
[2.7, 4.1, 4.3]
2.183333333333333
[]

In [32]:
# Filtrando valores faltantes

paises = ['', 'Argentina', 'Brasil', '', '', 'Chile']
print(paises)

res = filter(None, paises)
print(list(res))

['', 'Argentina', 'Brasil', '', '', 'Chile']
['Argentina', 'Brasil', 'Chile']

**Combinar filter() e map()**

In [35]:
nomes = ['Vanessa', 'Ana', 'Maria']

# devemos criar uma lista contendo 'Sua instrutora é ' + nome, desde que cada nome tenha menos que 5 caracteres

lista = list(map(lambda nome: f'Sua instrutora é {nome}', filter(lambda nome: len(nome) < 5, nomes)))
# lista = list(
#               map(
#                   lambda, filter(
#                                   lambda, nomes
#                           )
#               )
#         )
print(lista)

['Sua instrutora é Ana']

# 4.Reduce

**Obs.:** a partir do python3+ a função reduce() não é mais uma função integrada (built-in). Agora temos que importar e utilizar esta função a partir do módulo `functools`.

Guido van Rossum (criador do Python): "Utilize a função reduce() se você realmente precisa dela. Em todo caso, 99% das vezes um loop for é mais legível".

Para entender o reduce().

Imagine que você tem uma coleção de dados:

```python
dados = [a1, a2, a3, ..., an]
```

E você tem uma função que recebe dois parâmetros:

```python
def funcao(x, y):
  return x * y
```

Assim como `map()` e `filter()` a função `reduce()` recebe 2 parâmetros: a função e o iterável.

```python
reduce(funcao, dados)
```

A função `reduce()`, funciona da seguinte forma:

- **Passo 1**: `res1 = f(a1, a2)`. Aplica a função nos dois primeiros elementos da coleção e guarda o resultado;
- **Passo 2**: `res2 = f(res1, a3)`. Aplica a função passando o resultado do passo 1 mais o terceiro elemento e guarda o resultado;
- ...
- **Passo n**: `resn = f(resn_1, an)`.

Ou seja, em cada passo, ela aplica a função passando como primeiro argumento, o resultado da aplicação anterior. No final, `reduce()` irá retornar o resultado final.

In [37]:
from functools import reduce

primos = [2, 3, 4, 5, 7, 11, 13, 17, 19, 23, 29]

# Para utilizar o reduce() nós precisamos de uma função que receba 2 parâmetros
multi = lambda x, y: x * y

res = reduce(multi, primos)
print(res)

25878772920

In [38]:
# Utilizando um loop normal

res = 1
for n in primos:
  res = res * n

print(res)

25878772920

# 5.Any e All

`all()` -> retorna `True` se todos os elementos do iterável são verdadeiros ou ainda se o iterável está vazio.

In [42]:
# Exemplo all()

print(all([0, 1, 2, 3, 4]))
print(all([1, 2, 3, 4]))
print(all([]))

print(all((1, 2, 3))) # pode ser uma tupla, set, string

False
True
True
True

In [50]:
# Verificando se todos os nomes começam com 'C'

nomes = ['Carlos', 'Camila', 'Carla', 'Cassiano', 'Cristina']
print(nomes)
print(all([nome[0] == 'C' for nome in nomes])) # List Comprehension

nomes.append('Daniel')
print(nomes)
print(all([nome[0] == 'C' for nome in nomes]))

['Carlos', 'Camila', 'Carla', 'Cassiano', 'Cristina']
True
['Carlos', 'Camila', 'Carla', 'Cassiano', 'Cristina', 'Daniel']
False

`any()` -> retorna `True`se qualquer elemento do iterável for verdadeiro. Se o iterável estiver vázio, retorna `False`.

In [53]:
print(any([0, 1, 2, 3, 4])) # 1 elemento é false e os outros True
print(any([0, (), {}, False])) # Todos os elementos são false
print(any([]))

True
False
False

In [54]:
nomes = ['Carlos', 'Camila', 'Carla', 'Cassiano', 'Cristina', 'Vanessa']
print(nomes)
print(any([nome[0] == 'C' for nome in nomes]))

['Carlos', 'Camila', 'Carla', 'Cassiano', 'Cristina', 'Vanessa']
True

In [57]:
print(any([num for num in [4, 2, 10, 6, 8, 9] if num % 2 == 0]))

False

# 6.Generators

Generator Expression é a mesma coisa que `tuple comprehensions`.
Na aula anterior, fizemos:

```python
nomes = ['Carlos', 'Camila', 'Carla', 'Cassiano', 'Cristina', 'Vanessa']
print(any([nome[0] == 'C' for nome in nomes]))
```

Poderíamos ter usado `Generators`.

In [1]:
nomes = ['Carlos', 'Camila', 'Carla', 'Cassiano', 'Cristina', 'Vanessa']

print(any(nome[0] == 'C' for nome in nomes)) # sem colchetes

True

Assim como `map()` e `filter()`, ao acessar o dado pela primeira vez no `generator`, o dado é apagado da memória.

Em questão de performance, o `generator` consome menos recurso da máquina do que o `list comprehension`, por isso, é mais performático.

In [3]:
from sys import getsizeof

print(getsizeof('Gustavo')) # retorna a qtde de bytes em memória do elemento passado como parâmetro

print(getsizeof((nome[0] == 'C' for nome in nomes))) # 15% menor que o list comprehension
print(getsizeof([nome[0] == 'C' for nome in nomes]))

56
104
120

In [4]:
list_comp = getsizeof([x * 10 for x in range(1000)])
set_comp = getsizeof({x * 10 for x in range(1000)})
dic_comp = getsizeof({x: x * 10 for x in range(1000)})

gen = getsizeof(x * 10 for x in range(1000))

print(list_comp)
print(set_comp)
print(dic_comp)
print(gen)

8856
32984
36960
104

# 7.Sorted

**Obs.:** não confunda, apesar do nome, com a função `sort()`. O `sort()` só funciona em listas.

Podemos utilizar `sorted()` com qualquer iterável.

`sorted()` serve para ordenar elementos.

In [6]:
numeros = [6, 1, 8, 2]
print(numeros)

print(sorted(numeros)) # ordenar do menor para o maior

print(numeros) # observe que o sorted() não afetou a lista 'numeros'

# o sort() modifica a lista, enquanto o sorted() gera uma nova lista.

[6, 1, 8, 2]
[1, 2, 6, 8]
[6, 1, 8, 2]

In [7]:
# o sorted() sempre retorna uma lista com os elementos do iteravel

numeros = (6, 1, 8, 2) # tupla
print(numeros)
print(sorted(numeros))

numeros = {6, 1, 8, 2} # set
print(numeros)
print(sorted(numeros))

(6, 1, 8, 2)
[1, 2, 6, 8]
{8, 1, 2, 6}
[1, 2, 6, 8]

In [8]:
# Adicionando parâmetros ao sorted()

numeros = [6, 1, 8, 2]

print(sorted(numeros, reverse=True)) # ordenação descendente

[8, 6, 2, 1]

In [10]:
musicas = [
    {"titulo": "Thunderstruck", "tocou": 3},
    {"titulo": "Dead Skin Mask", "tocou": 2},
    {"titulo": "Back in Black", "tocou": 4},
    {"titulo": "Too old to rock'in'roll, too young to die", "tocou": 32}
]

# ordena da menos tocada para mais tocada
print(sorted(musicas, key=lambda musica: musica['tocou']))

# ordena da mais tocada para menos tocada
print(sorted(musicas, key=lambda musica: musica['tocou'], reverse=True))

[{'titulo': 'Dead Skin Mask', 'tocou': 2}, {'titulo': 'Thunderstruck', 'tocou': 3}, {'titulo': 'Back in Black', 'tocou': 4}, {'titulo': "Too old to rock'in'roll, too young to die", 'tocou': 32}]
[{'titulo': "Too old to rock'in'roll, too young to die", 'tocou': 32}, {'titulo': 'Back in Black', 'tocou': 4}, {'titulo': 'Thunderstruck', 'tocou': 3}, {'titulo': 'Dead Skin Mask', 'tocou': 2}]

# 8.Min e Max

`max()` -> retorna o maior valor em um iterável ou o maior de dois ou mais elementos.

In [12]:
lista = [1, 8, 4, 99, 34, 129]
print(max(lista))

print(max(3, 34))

129
34

`min()` -> retorna o menor valor em um iterável ou o menor entre dois ou mais elementos.

In [13]:
lista = [1, 8, 4, 99, 34, 129]
print(min(lista))

print(min(3, 34))

1
3

In [16]:
nomes = ['Gustavo R. Martins', 'Ribeiro', 'Martins', 'Guga', 'Gus']

print(max(nomes))
print(min(nomes))

print(max(nomes, key=lambda nome: len(nome)))
print(min(nomes, key=lambda nome: len(nome)))

Ribeiro
Guga
Gustavo R. Martins
Gus

# 9.Reversed

**Obs.:** não confunda com a função `reverse()` que estudamos nas listas.
A função `reverse()` só funciona em listas, já a função `reversed()` funciona com qualquer iterável.

Sua função é inverter o iterável e retorna um iterável chamado *List Reverse Iterator*.

In [21]:
lista = [1, 2, 3, 4, 5]

res = reversed(lista)

print(res)
print(type(res))

print(list(res))
print(list(res)) # após o 1º acesso, ele é zerado

<list_reverseiterator object at 0x7c2005d55030>
<class 'list_reverseiterator'>
[5, 4, 3, 2, 1]
[]

# 10.Len, Abs, Sum e Round

`len()` -> retorna o tamanho (ou seja, o número de itens) de um iterável.

In [22]:
print(len('Gustavo Ribeiro Martins'))
print(len([1, 2, 3, 4, 5]))

23
5

`abs()` -> retorna o valor absoluto de um número real.

In [23]:
reais = [1, -3, 1.45, -5.2]

for num in reais:
  print(abs(num))

1
3
1.45
5.2

`sum()` -> recebe como parâmetro um iterável, podendo receber um valor inicial, e retorna a soma total dos elementos, incluindo o valor inicial.

**obs.:** o valor inicial default = 0

In [25]:
lista = [1, 2, 3, 4, 5]
print(sum(lista))

print(sum(lista, 5)) # valor inicial = 5

15
20

`round()` -> retorna um número arredondado para n digito de precisão após a casa decimal. Se a precisão não for informada, retorna o inteiro mais próximo da entrada.

In [26]:
print(round(10.2))
print(round(10.5))
print(round(10.6))

print(round(1.2121212121, 2)) # 2 casas decimais de precisão
print(round(1.2199999999, 2))

10
10
11
1.21
1.22

# 11.Zip

`zip()` -> cria um iterável (chamado *Zip Object*) que agrega elementos de cada um dos iteráveis passados como entrada em pares.

In [32]:
lista1 = [1, 2, 3]
lista2 = [4, 5, 6]

zip1 = zip(lista1, lista2)

print(zip1)
print(type(zip1))

print(list(zip1))
print(list(zip1)) # é zerado após o 1º acesso

zip2 = zip(lista1, lista2, 'gus')
print(list(zip2))

<zip object at 0x7c200f51d040>
<class 'zip'>
[(1, 4), (2, 5), (3, 6)]
[]
[(1, 4, 'g'), (2, 5, 'u'), (3, 6, 's')]

**Obs.:** o `zip()` utiliza como parâmetro o menor tamanho em iterável. Isso significa que se estiver trabalhando com iteráveis de tamanhos diferentes, irá parar quando os elementos do menor iterável acabar.

In [33]:
set1 = {1, 2, 3} # 3 elementos
set2 = {10, 20, 30, 40, 50} # 5 elementos
set3 = {100, 200, 300, 400, 500, 600} # 6 elementos

zip_sets = zip(set1, set2, set3)
print(list(zip_sets))

[(1, 50, 400), (2, 20, 100), (3, 40, 500)]

In [36]:
# podemos usar diferentes iteráveis com zip()

lista = [1, 2, 3]
tupla = (4, 5, 6)
dicionario = {'a': 7, 'b': 8, 'c': 9}

zt = zip(lista, tupla, dicionario.values())
print(list(zt))

[(1, 4, 7), (2, 5, 8), (3, 6, 9)]

In [37]:
# lista de tuplas

dados = [(0, 1), (1, 2), (2, 3), (3, 4), (4, 5)]

print(list(zip(*dados))) # desempacotamento

[(0, 1, 2, 3, 4), (1, 2, 3, 4, 5)]