<a href="https://colab.research.google.com/github/Gustavo-RibMartins/estudos-python/blob/develop/cursos/python_06_estruturas_repeticao.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1.Loop for

Loop é uma estrutura de repetição. For é uma dessas estruturas.

sintaxe:

```python
for item in interavel:
  execucao do loop
```

Utilizamos loops para iterar sobre sequências ou sobre valores iteráveis (strings, listas, ranges).

In [1]:
# Exemplo de for (n°1)
nome = 'Gustavo'
lista = [1, 3, 5, 7, 9] # temos que transformar em uma lista
numeros = range(1, 10)

# Iterando sobre uma string
for letra in nome:
  print(letra)

G
u
s
t
a
v
o

Observe que foi possível utilizar a variável `letra` sem ter declarado ela antes (declaração no próprio bloco do loop).

In [2]:
# Exemplo de for (n°2)
nome = 'Gustavo'
lista = [1, 3, 5, 7, 9] # temos que transformar em uma lista
numeros = range(1, 10)

# Iterando sobre uma lista
for numero in lista:
  print(numero)

1
3
5
7
9

In [3]:
# Exemplo de for (n°3)
nome = 'Gustavo'
lista = [1, 3, 5, 7, 9] # temos que transformar em uma lista
numeros = range(1, 10)

# Iterando sobre um range
for numero in range(1,10):
  print(numero)

1
2
3
4
5
6
7
8
9

**Obs.:** para o range, o parâmetro inicial está contido em um intervalo fechado e o parâmetro final em um intervalo aberto. Exemplo:

```python
range(1,5) = [1, 5) = 1, 2, 3, 4
```

In [4]:
nome = 'Gustavo'
nome[0:4]

'Gust'

In [7]:
# Exemplo de for (n°4)
nome = 'Gustavo'

for indice, letra in enumerate(nome):
  print(nome[indice]) # ou poderia usar print(letra) direto

G
u
s
t
a
v
o

**enumerate():** transforma cada item da lista em uma tupla, com o valor original da lista + índice da posição do item.

In [9]:
nome = 'Gustavo'

for valor in enumerate(nome):
  print(valor)

(0, 'G')
(1, 'u')
(2, 's')
(3, 't')
(4, 'a')
(5, 'v')
(6, 'o')

**Obs.:** quando não precisamos de uma valor (como o parâmetro `indice` no código anterior), podemos descartá-lo usando underscore (_).

In [8]:
# Exemplo de for (n°5)
nome = 'Gustavo'

for _, letra in enumerate(nome):
  print(letra)

G
u
s
t
a
v
o

No python, o `print()` adiciona um `/n` por default para fazer quebra de linha, como no exemplo anterior. Se quisermos imprimir tudo na mesma linha, é preciso alterar o valor default do parâmetro `end`.

In [10]:
# Metodos com print()
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [12]:
nome = 'Gustavo'

for _, letra in enumerate(nome):
  print(letra, end='')

Gustavo

# 2.Ranges

É um método/ função auxiliar, não é bem uma estrutura de repetição. Ranges são utilizados para gerar sequências numéricas não aleatória, em formato especificado.

In [19]:
# Exemplo 1: range(valor_de_parada)

for num in range(3):
  print(num, end=' ')

0 1 2

In [20]:
# Exemplo 2: range(valor_de_inicio, valor_de_parada)

for num in range(5, 11):
  print(num, end=' ')

5 6 7 8 9 10

In [24]:
# Exemplo 3: range(valor_de_inicio, valor_de_parada, passo)

for num in range(1, 10, 2):
  print(num, end=' ')

print('\n')
# Tambem eh possivel fazer na direcao inversa

for num in range(10, 1, -2):
  print(num, end= ' ')

1 3 5 7 9

10 8 6 4 2

In [25]:
# Criando uma lista a partir de um range

lista = list(range(1, 10, 2)) # convertendo range para lista
lista

[1, 3, 5, 7, 9]

# 3.Loop while

sintaxe:

```python
while expressao_booleana:
  execucao do loop
```

O bloco do while será repetido enquanto a `expressao_booleana` for verdadeira.

In [26]:
numero = 1

while numero < 10:
  print(numero)
  numero += 1

1
2
3
4
5
6
7
8
9

# 4.Saindo de loops com break

Usamos o break para sair de loops de maneira projetada.

In [28]:
for numero in range(1, 11):
  if numero == 6:
    print('sai do loop')
    break
  else:
    print(numero)

1
2
3
4
5
sai do loop