<a href="https://colab.research.google.com/github/Gustavo-RibMartins/estudos-python/blob/develop/cursos/python_07_colecoes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1.Listas

Listas em Python funcionam como vetores ou matrizes (arrays), com a diferença de serem **dinâmicos** e podermos colocar **qualquer** tipo de dado.

Por exemplo, em C/Java se você criar um array do tipo int com tamanho 5, este array será sempre do tipo inteiro e terá sempre no máximo 5 valores. Já em Python, não possui tamanho fixo, basta criar a lista e ir adicionando elementos.

As listas em Python são representadas por colchetes [].

In [ ]:
# exemplo de uma lista
type([0, 1, 'gus', True])

list

In [ ]:
lista1 = [1, 99, 4, 27, 15, 22, 3, 1, 44, 42, 27]
lista2 = ['G', 'u', 's']
lista3 = []
lista4 = list(range(11))

Podemos facilmente checar se um determinado valor está presente na lista.

In [ ]:
num = 7
if num in lista4:
  print(f'Achei o número {num}!')
else:
  print(f'Não encontrei o número {num}...')

Achei o número 7!

Podemos facilmente ordenar uma lista.

In [ ]:
lista1.sort()
print(lista1)

[1, 1, 3, 4, 15, 22, 27, 27, 42, 44, 99]

Podemos facilmente contar o número de ocorrências de um valor em uma lista.

In [ ]:
# contar quantos numeros 1 existem na lista1
print(lista1.count(1))

# contar quantas letras 's' tem na lista2
print(lista2.count('s'))

2
1

Adicionar elementos em listas.
Obs.: para adicionar elementos em listas, utilizamos a função append.
Com append, só conseguimos adicionar 1 elemento por vez.

In [ ]:
print(lista1)
lista1.append(42)
print(lista1)

[1, 1, 3, 4, 15, 22, 27, 27, 42, 44, 99]
[1, 1, 3, 4, 15, 22, 27, 27, 42, 44, 99, 42]

É possível colocar uma lista dentro de outra lista.

In [ ]:
print(lista1)
lista1.append([100, 101, 102])
print(lista1)

[1, 1, 3, 4, 15, 22, 27, 27, 42, 44, 99, 42]
[1, 1, 3, 4, 15, 22, 27, 27, 42, 44, 99, 42, [100, 101, 102]]

Para juntar duas listas, usar o método extend().

In [ ]:
print(lista1)
lista1.extend([123, 44, 67])
print(lista1)

[1, 1, 3, 4, 15, 22, 27, 27, 42, 44, 99, 42, [100, 101, 102]]
[1, 1, 3, 4, 15, 22, 27, 27, 42, 44, 99, 42, [100, 101, 102], 123, 44, 67]

Podemos inserir um novo elemento na lista, informando a posição do índice ao invés de somente inserir o elemento no final da lista com o método insert().
Obs.: não substitui o valor, desloca os itens presentes para a direita.

In [ ]:
lista1 = [1, 99, 4, 27, 15, 22, 3, 1, 44, 42, 27]
lista1.insert(2, 'Novo Valor')
print(lista1)

[1, 99, 'Novo Valor', 4, 27, 15, 22, 3, 1, 44, 42, 27]

É simples juntar 2 listas somando-as.

In [ ]:
lista10 = [1, 2, 3]
lista11 = [4, 5, 6]
lista12 = lista10 + lista11
print(lista12)

[1, 2, 3, 4, 5, 6]

Imprimir a lista inversa.

In [ ]:
print(lista1)
lista1.reverse()
print(lista1)

[1, 99, 'Novo Valor', 4, 27, 15, 22, 3, 1, 44, 42, 27]
[27, 42, 44, 1, 3, 22, 15, 27, 4, 'Novo Valor', 99, 1]

Copiar uma lista

In [ ]:
lista1a = lista1
print(lista1a)

[27, 42, 44, 1, 3, 22, 15, 27, 4, 'Novo Valor', 99, 1]

Tamanho da lista/ quantidade de elementos.

In [ ]:
print(len(lista1))

12

Removendo o último elemento de uma lista.

In [ ]:
print(lista1)
lista1.pop()
print(lista1)

[27, 42, 44, 1, 3, 22, 15, 27, 4, 'Novo Valor', 99, 1]
[27, 42, 44, 1, 3, 22, 15, 27, 4, 'Novo Valor', 99]

Podemos remover um elemento pelo índice.

In [ ]:
# remover o primeiro elemento
print(lista1)
lista1.pop(0)
print(lista1)

[27, 42, 44, 1, 3, 22, 15, 27, 4, 'Novo Valor', 99]
[42, 44, 1, 3, 22, 15, 27, 4, 'Novo Valor', 99]

Podemos remover todos os elementos da lista.

In [ ]:
print(lista1)
lista1.clear()
print(lista1)

[42, 44, 1, 3, 22, 15, 27, 4, 'Novo Valor', 99]
[]

Operações com listas.

In [ ]:
lista1 = [1, 2, 3]

listaM = lista1 * 3
print(listaM)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

Podemos facilmente converter uma string para uma lista.

In [ ]:
nome = 'Gustavo Ribeiro Martins'
print(nome)
nome = nome.split()
print(nome)

Gustavo Ribeiro Martins
['Gustavo', 'Ribeiro', 'Martins']

**Obs.:** por padrão, o split() usa o espaço como delimitador dos elementos da lista. Podemos informar o delimitador.

In [ ]:
cpf = '123.456.789.01'
print(cpf)
cpf = cpf.split('.')
print(cpf)

123.456.789.01
['123', '456', '789', '01']

Convertendo uma lista em string.

In [ ]:
nome = ['Gustavo', 'Ribeiro', 'Martins']
print(nome)

nome = ' '.join(nome)
print(nome)

['Gustavo', 'Ribeiro', 'Martins']
Gustavo Ribeiro Martins

É possível iterar sobre as listas.

In [ ]:
carrinho = [] # lista vazia
produto = ''  # qualquer valor != 'sair'

while produto != 'sair':
  print("Adicione um produto na lista ou digite 'sair' para sair: ")
  produto = input()
  if produto != 'sair':
    carrinho.append(produto)

for produto in carrinho:
  print(produto)

Adicione um produto na lista ou digite 'sair' para sair:
Carro
Adicione um produto na lista ou digite 'sair' para sair:
PS5
Adicione um produto na lista ou digite 'sair' para sair:
Livro
Adicione um produto na lista ou digite 'sair' para sair:
Caixa
Adicione um produto na lista ou digite 'sair' para sair:
sair
Carro
PS5
Livro
Caixa

É possível acessar os elementos de forma indexada.

In [ ]:
#           0         1         2        3
cores = ['verde', 'amarelo', 'azul', 'branco']

print(cores[0]) # verde
print(cores[1]) # amarelo
print(cores[2]) # azul
print(cores[3]) # branco

verde
amarelo
azul
branco

In [ ]:
# Também é possível acessar de forma inversa

print(cores[-1]) # branco
print(cores[-2]) # azul
print(cores[-3]) # amarelo
print(cores[-4]) # verde

branco
azul

Gerar indice em um for.

In [ ]:
for indice, cor in enumerate(cores):
  print(indice, cor)

0 verde
1 amarelo
2 azul
3 branco

Listas é um tipo de coleção que **aceitam repetição**.

In [ ]:
lista = []
lista.append(42)
lista.append(42)
lista.append(43)
lista.append(43)
print(lista)

[42, 42, 43, 43]

Encontrar o índice de um elemento na lista.

In [ ]:
numeros = [5, 6, 7, 8, 9, 10]

print(numeros.index(6))
print(numeros.index(9))

1
4

Podemos fazer busca dentro de um range, ou seja, qual indice começar a buscar.

In [ ]:
numeros = [5, 0, 1, 2, 3, 4, 5, 6, 0, 1, 3, 5]

print(numeros.index(5, 1)) # buscar a partir do indice 1

6

Podemos fazer busca denrto de um range com início e fim.

In [ ]:
print(numeros.index(5, 7, 12)) # buscar o indice do valor 5 entre os indices 7 e 12

11

Operações com a lista.

In [ ]:
lista = [1, 2, 3, 4, 5, 6]

print(sum(lista)) # soma
print(max(lista)) # maximo
print(min(lista)) # minimo
print(len(lista)) # tamanho

21
6
1
6

Transformar uma lista em tupla.

In [ ]:
lista = [1, 2, 3, 4, 5, 6]
print(lista)
print(type(lista))

tupla = tuple(lista)
print(tupla)
print(type(tupla))

[1, 2, 3, 4, 5, 6]
<class 'list'>
(1, 2, 3, 4, 5, 6)
<class 'tuple'>

Desempacotamento de listas.

In [ ]:
lista = [1, 2, 3]

num1, num2, num3 = lista

print(num1)
print(num2)
print(num3)

1
2
3

**Copiando uma lista para outra**: Shallow Copy e Deep Copy


* Deep Copy: ao utilizar copy(), copiamos os dados de uma lista A para uma lista B, porém ambas são independentes. Modificando a lista B não afetamos a lista A.

In [ ]:
# Deep Copy

lista = [1, 2, 3]
print(f'lista = {lista}')

nova = lista.copy()
print(f'nova = {nova}')

nova.append(4)
print(f'nova = {nova}')
print(f'lista = {lista}')

lista = [1, 2, 3]
nova = [1, 2, 3]
nova = [1, 2, 3, 4]
lista = [1, 2, 3]

* Shallow Copy: utilizamos com listaA = listaB e as listas A e B se tornam dependentes. Modificando uma afeta a outra.

In [ ]:
# Shallow Copy

lista = [1, 2, 3]
print(f'lista = {lista}')

nova = lista
print(f'nova = {nova}')

nova.append(4)
print(f'nova = {nova}')
print(f'lista = {lista}')

lista = [1, 2, 3]
nova = [1, 2, 3]
nova = [1, 2, 3, 4]
lista = [1, 2, 3, 4]

# 2.Tuplas

São bastante parecidas com listas. Existem basicamente duas diferenças:

* As Tuplas são representadas por parenteses ();
* As Tuplas são imutáveis. Isso significa que ao se criar uma tupla ela não muda. Toda operação em uma tupla gera uma nova tupla.

In [ ]:
# Listas (mutaveis)

print("Lista\n")

lista = [9, 4, 1, 6, 3]
print(type(lista))
print(lista)

lista.sort()
print(lista)

lista.append(42)
print(lista)

print("\nTupla\n")

# Tuplas (imutaveis)

tupla1 = (1, 2, 3, 4, 5, 6)
print(type(tupla1))
print(tupla1)

tupla2 = 1, 2, 3, 4, 5, 6 # ao separar por virgula sem parenteses, o python tbm entende que eh uma tupla
print(type(tupla2))
print(tupla2)

Lista

<class 'list'>
[9, 4, 1, 6, 3]
[1, 3, 4, 6, 9]
[1, 3, 4, 6, 9, 42]

Tupla

<class 'tuple'>
(1, 2, 3, 4, 5, 6)
<class 'tuple'>
(1, 2, 3, 4, 5, 6)

**Cuidado**: não existem tuplas de 1 elemento.

In [ ]:
umElemento = (4) # Nao eh uma tupla
print(type(umElemento))

tupla3 = (4,) # Eh uma tupla
print(type(tupla3))

<class 'int'>
<class 'tuple'>

> Tuplas são definidas pela vírugla e não apenas pelo uso do parênteses.

In [ ]:
tupla = tuple(range(11))
print(tupla)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
# Desempacotamento de tupla

tupla = ('Gustavo', 'Ribeiro', 'Martins')
nome, sobrenome, ultnome = tupla

print(tupla)
print(nome)
print(sobrenome)
print(ultnome)

('Gustavo', 'Ribeiro', 'Martins')
Gustavo
Ribeiro
Martins

Por serem imutávies, métodos de adição e remoção de elementos nas tuplas não existem.

In [ ]:
# Operações matematicas

tupla = (1, 2, 3, 4, 5, 6)

print(sum(tupla))
print(max(tupla))
print(min(tupla))
print(len(tupla))

21
6
1
6

In [ ]:
# Concatenação de Tuplas

tupla1 = (1, 2, 3)
tupla2 = (4, 5, 6)

print(tupla1)
print(tupla2)

print(tupla1 + tupla2)

print(tupla1) # continua sem alteracao
print(tupla2) # continua sem alteracao

(1, 2, 3)
(4, 5, 6)
(1, 2, 3, 4, 5, 6)
(1, 2, 3)
(4, 5, 6)

As tuplas são imutáveis, mas podemos sobrescrevê-las (não são bloqueadas para escrita).

In [ ]:
tupla1 = 1, 2, 3
tupla2 = 4,
print(tupla1)

tupla1 = tupla1 + tupla2
print(tupla1)

(1, 2, 3)
(1, 2, 3, 4)

In [ ]:
# Verificar se determinado elemento esta na tupla

tupla = (1, 2, 3)

print(1 in tupla)
print(100 in tupla)

True
False

In [ ]:
# Iterando sobre uma tupla

tupla = (1, 2, 3)

for n in tupla:
  print(n)

for indice, valor in enumerate(tupla):
  print(indice, valor)

1
2
3
0 1
1 2
2 3

In [ ]:
# Contando elementos emm uma tupla + convertendo string para tupla

tupla = tuple('Gustavo Ribeiro Martins')
print(tupla)

print(tupla.count('r'))

('G', 'u', 's', 't', 'a', 'v', 'o', ' ', 'R', 'i', 'b', 'e', 'i', 'r', 'o', ' ', 'M', 'a', 'r', 't', 'i', 'n', 's')
2

**Dicas na utilização de tuplas**

Devemos utilizar tuplas SEMPRE que não precisamos modificar os dados contidos em uma coleção.

In [ ]:
# Exemplo 1

meses = ('Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro')
print(meses)

('Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro')

O acesso a elementos de uma tupla também é semelhante a de uma lista.

In [ ]:
print(meses[5])

Junho

In [ ]:
# Iterar com while

i = 0

while i < len(meses):
  print(meses[i])
  i = i + 1

Janeiro
Fevereiro
Março
Abril
Maio
Junho
Julho
Agosto
Setembro
Outubro
Novembro
Dezembro

In [ ]:
# Verificando em qual índice um elemento está na tupla

print(meses.index('Junho'))

5

In [ ]:
# Slicing

print(meses)
print(meses[6:12])

('Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro')
('Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro')

**Por que utilizar tuplas?**

- Tuplas são mais rápidas do que Listas;
- Tuplas deixam seu código mais seguro (imutabilidade).

In [ ]:
# Copiando uma tupla para outra

tupla = (1, 2, 3)
print(tupla)

nova = tupla # Na tupla não temos o problema de Shallow Copy
print(nova)
print(tupla)

outra = (4, 5, 6)
nova = nova + outra

print(nova)
print(tupla)

(1, 2, 3)
(1, 2, 3)
(1, 2, 3)
(1, 2, 3, 4, 5, 6)
(1, 2, 3)

# 3.Dicionários

Obs.: em algumas linguagens de programação, os dicionários Python são conhecidos por **mapas**.

Dicionários são coleções do tipo chave/valor.

Dicionários são representados por chaves {}

In [ ]:
print(type({}))

<class 'dict'>

In [ ]:
# Forma de criação de dicionários 1 (mais comum)

paises = {'br': 'Brasil', 'eua': 'Estados Unidos', 'py': 'Paraguai'}
print(paises)
print(type(paises))

{'br': 'Brasil', 'eua': 'Estados Unidos', 'py': 'Paraguai'}
<class 'dict'>

In [ ]:
# Forma de criação de dicionários 2 (menos comum)

paises = dict(br='Brasil', eua='Estados Unidos', py='Paraguai')
print(paises)
print(type(paises))

{'br': 'Brasil', 'eua': 'Estados Unidos', 'py': 'Paraguai'}
<class 'dict'>

Obs.:
- Tanto chave quanto valor podem ser qualquer tipo de dado.
- Podemos misturar tipos de dados.

**Acessando elementos**

Forma 1 - Acessando via chave, da mesma forma que lista/tupla.

In [ ]:
print(paises['br'])
print(paises['py'])
print(paises['ru']) # KeyErro

Brasil
Paraguai

KeyError: 'ru'

Forma 2 - Acessando via get (+recomendada).

In [ ]:
print(paises.get('br'))
print(paises.get('py'))
print(paises.get('ru')) # Nao da KeyErro, se a chave nao existe, retorna "None"

Brasil
Paraguai
None

> **Tipo de dado None**: representa o tipo "sem tipo", vazio.
>
> O tipo `None` é SEMPRE especificado com a primeira letra maiúscula.
>
> Podemos utilizar None quando queremos criar uma variável e inicializá-la com um tipo sem tipo, antes de recebermos um valor final, o qual não sabemos seu datatype.
>
> O tipo None em Python é sempre considerado como false.

In [ ]:
if None:
  print('True')
else:
  print('false')

false

In [ ]:
# Definindo um valor padrao caso nao encontre a chave

pais = paises.get('py', 'Não encontrado')
print(pais)
pais = paises.get('ru', 'Não encontrado')
print(pais)

Paraguai
Não encontrado

In [ ]:
# Verificando se o objeto esta no dicionario

paises = {'br': 'Brasil', 'eua': 'Estados Unidos', 'py': 'Paraguai'}

print('br' in paises)
print('ru' in paises)
print('Estados Unidos' in paises) # Não é chave, é valor

True
False
False

Podemos usar qualquer tipo de dado em um dicionário (int, float, string, boolean, inclusive listas, tuplas, dicionários, como chaves de dicionários).

In [ ]:
localidades = {
    (35.6895, 39.6917): 'Escritório em Tókio',
    (40.7128, 74.0060): 'Escritório em Noa Iorque',
    (37.7749, 122.4194): 'Escritório em São Paulo',
}

print(localidades)
print(type(localidades))

{(35.6895, 39.6917): 'Escritório em Tókio', (40.7128, 74.006): 'Escritório em Noa Iorque', (37.7749, 122.4194): 'Escritório em São Paulo'}
<class 'dict'>

Obs.: é interessante usar tuplas como chaves do dicionário por serem imutáveis.

**Adicionando elementos em um dicionário**

In [ ]:
receita = {'jan': 100, 'fev': 120, 'mar': 300}

print(receita)
print(type(receita))

# Forma 1 - mais comum

receita['abr'] = 350

print(receita)
print(type(receita))

# Forma 2

novo_dado = {'mai': 500}
receita.update(novo_dado) # receita.update({'mai': 500})

print(receita)
print(type(receita))

{'jan': 100, 'fev': 120, 'mar': 300}
<class 'dict'>
{'jan': 100, 'fev': 120, 'mar': 300, 'abr': 350}
<class 'dict'>
{'jan': 100, 'fev': 120, 'mar': 300, 'abr': 350, 'mai': 500}
<class 'dict'>

In [ ]:
# Atualizando dados em um dicionario

# Forma 1
receita['mai'] = 550

print(receita)

# Forma 2
receita.update({'mai': 600})

print(receita)

{'jan': 100, 'fev': 120, 'mar': 300, 'abr': 350, 'mai': 550}
{'jan': 100, 'fev': 120, 'mar': 300, 'abr': 350, 'mai': 600}

**Obs.:** Em dicionários não podemos ter chaves repetidas.

**Remover dados de um dicionário**

In [1]:
receita = {'jan': 100, 'fev': 120, 'mar': 300}
print(receita)

# Forma 1 - mais comum
retorno = receita.pop('mar')

print(retorno) # o pop retorna o valor do item excluido do dicionario
print(receita)

# Forma 2
del receita['fev'] # nesse caso o valor excluído não é retornado

print(receita)

{'jan': 100, 'fev': 120, 'mar': 300}
300
{'jan': 100, 'fev': 120}
{'jan': 100}

**Métodos de Dicionários**

In [4]:
d = {"a": 1, "b": 2, "c": 3}
print(d)

# limpar o dicionario
d.clear()
print(d)

{'a': 1, 'b': 2, 'c': 3}
{}

In [5]:
# copiando um dicionario para outro (deep copy)
d = {"a": 1, "b": 2, "c": 3}
print(d)

novo = d.copy() # deep copy
print(novo)

novo['d'] = 4
print(d)
print(novo)

{'a': 1, 'b': 2, 'c': 3}
{'a': 1, 'b': 2, 'c': 3}
{'a': 1, 'b': 2, 'c': 3}
{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [6]:
# copiando um dicionario para outro (shallow copy)
d = {"a": 1, "b": 2, "c": 3}
print(d)

novo = d # shallow copy
print(novo)

novo['d'] = 4
print(d)
print(novo)

{'a': 1, 'b': 2, 'c': 3}
{'a': 1, 'b': 2, 'c': 3}
{'a': 1, 'b': 2, 'c': 3, 'd': 4}
{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [8]:
# criando dicionario a partir de lista

usuario = {}.fromkeys(['nome', 'pontos', 'email', 'profile'], 'desconhecido')
print(usuario)

{'nome': 'desconhecido', 'pontos': 'desconhecido', 'email': 'desconhecido', 'profile': 'desconhecido'}

O método `fromkeys` recebe dois parâmetros: um iteravel e um valor.
Ele gera para cada valor do iterável, uma chave e irá atribuir a esta chave o valor informado.

In [9]:
veja = {}.fromkeys('teste', 'valor')
print(veja)

{'t': 'valor', 'e': 'valor', 's': 'valor'}

Observe acima que o iterável é uma string, e foi criado um dicionário onde cada letra é uma chave (lembre-se, não há repetição de chaves em um dicionário, por isso só aparecem 3 itens).

**Iterando sobre um dicionário**

In [10]:
receita = {'jan': 100, 'fev': 250, 'mar': 400}
print(receita)

# imprimindo chaves
for chave in receita:
  print(chave)

# imprimindo valores
for chave in receita:
  print(receita[chave])

for chave in receita:
  print(f'Em {chave} recebi R$ {receita[chave]}')

{'jan': 100, 'fev': 250, 'mar': 400}
jan
fev
mar
100
250
400
Em jan recebi R$ 100
Em fev recebi R$ 250
Em mar recebi R$ 400

In [12]:
# Dicionario de chaves

receita = {'jan': 100, 'fev': 250, 'mar': 400}
print(receita.keys())

# Modo Pythonico de iterar sobre chaves
for chave in receita.keys():
  print(receita[chave])

dict_keys(['jan', 'fev', 'mar'])
100
250
400

In [14]:
# Dicionario de valores

receita = {'jan': 100, 'fev': 250, 'mar': 400}
print(receita.values())

# modo pythonico de acessar os valores
for valor in receita.values():
  print(valor)

dict_values([100, 250, 400])
100
250
400

**Desempacotamento de dicionários**

In [16]:
receita = {'jan': 100, 'fev': 250, 'mar': 400}
print(receita)

print(receita.items()) # cria um dicionário de tuplas

for chave, valor in receita.items():
  print(f'chave={chave} e valor={valor}')

{'jan': 100, 'fev': 250, 'mar': 400}
dict_items([('jan', 100), ('fev', 250), ('mar', 400)])
chave=jan e valor=100
chave=fev e valor=250
chave=mar e valor=400

**Soma, Máximo, Mínimo, Tamanho**

In [17]:
receita = {'jan': 100, 'fev': 250, 'mar': 400}

print(sum(receita.values()))
print(max(receita.values()))
print(min(receita.values()))
print(len(receita))

750
400
100
3

# 4.Conjuntos

Conjuntos em qualquer linguagem de programação, estamos fazendo referência à Teoria dos Conjuntos da matemática.

No Python, os conjuntos são chamados de Sets.

Dito isto, da mesma forma que na matemática:

- Sets (conjuntos) não possuem valores duplicados;
- Sets não possuem valores ordenados;
- Elementos não são acessados via índice, ou seja, conjuntos não são indexados.

Conjuntos são bons para se utilizar quando precisamos armazenar elementos mas não nos importamos com a ordenação deles. Quando não precisamos nos preocupar com chaves, valores e itens duplicados.

Os conjuntos são referenciados em Python com chaves {}.

> **Diferença entre sets e dicionários**
>
> - Um dicionário tem chave/valor;
> - Um set tem apenas valor.

In [19]:
# Definindo um conjunto - forma 1
s = set({1, 2, 3, 4, 5, 5, 6, 7, 2, 3}) # contendo valores repetidos
print(s)
print(type(s))

# ao criar um conjunto, ao adicionar um valor já existente, ele será ignorado

{1, 2, 3, 4, 5, 6, 7}
<class 'set'>

In [20]:
# Definindo um conjunto - forma 2 (mais comum)
s = {1, 2, 3, 4, 5, 5}
print(s)
print(type(s))

{1, 2, 3, 4, 5}
<class 'set'>

**Usos interessantos com sets**

Imagine que fizemos um formulário de cadastro de visitantes em uma feira ou museu e os visitantes informam manualmente a cidade de onde vieram.

Nós adicionamos cada cidade em uma Lista Python, já que em uma lista podemos adicionar novos elementos e ter repetição.

In [21]:
cidades = ['Belo Horizonte', 'São Paulo', 'Campo Grande', 'Cuiaba', 'Campo Grande', 'São Paulo', 'Cuiaba']
print(cidades)

# qtde de pessoas que vieram
print(len(cidades))

['Belo Horizonte', 'São Paulo', 'Campo Grande', 'Cuiaba', 'Campo Grande', 'São Paulo', 'Cuiaba']
7

Agora precisamos saber quantas cidades distintas, ou seja, únicas, temos.

In [23]:
distintas = set(cidades)
print(distintas)
print(len(distintas))

{'Campo Grande', 'Cuiaba', 'São Paulo', 'Belo Horizonte'}
4

**Adicionando elementos em um conjunto**

In [24]:
s = {1, 2, 3}
print(s)

# Conjutnos sao mutaveis

s.add(4)
print(s)

{1, 2, 3}
{1, 2, 3, 4}

**Remover elementos em um conjunto**

In [27]:
s = {1, 2, 3, 4}
print(s)

# forma 1
s.remove(3) # nao é indice, informamos o valor a ser removido
print(s)

# forma 2
s.discard(2)
print(s)

# Observacao: a diferença entre remove() e discard() é que no remove() ocorre
# KeyError se voce informar um valor que nao existe enquanto no discard() nao

s.discard(55)
s.remove(55)

{1, 2, 3, 4}
{1, 2, 4}
{1, 4}

KeyError: 55

**Copiando um conjunto para outro**

In [2]:
s = {1, 2, 3}
print('original')
print(s)

# Forma 1 - Deep Copy

print('deep copy')
copia = s.copy()
print(copia)

copia.add(4)

print(copia)
print(s)

# Forma 2 - Shallow Copy

print('shallow copy')
novo = s
print(novo)

novo.add(4)

print(novo)
print(s)

original
{1, 2, 3}
deep copy
{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3}
shallow copy
{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4}

Podemos remover todos os itens de um conjunto.

In [4]:
s.clear()
print(s)

set()

**Métodos Matemáticos de Conjuntos**

Imagine que temos dois conjuntos: um contendo estudantes do curso dde Python e um contendo estudantes do curso de Java.

In [8]:
estudantes_python = {'Marcos', 'Patricia', 'Ellen', 'Pedro', 'Julia', 'Guilherme'}
estudantes_java = {'Fernando', 'Gustavo', 'Julia', 'Ana', 'Patricia'}

print(f'estudantes python = {estudantes_python}')
print(f'estudantes java = {estudantes_java}')

# Uniao - forma 1, usando union()
uniao = estudantes_python.union(estudantes_java)
print(f'uniao = {uniao}')

# Uniao - forma 2, usando pipe |
uniao2 = estudantes_python | estudantes_java
print(f'uniao2 = {uniao2}')

estudantes python = {'Marcos', 'Ellen', 'Patricia', 'Pedro', 'Julia', 'Guilherme'}
estudantes java = {'Ana', 'Patricia', 'Julia', 'Gustavo', 'Fernando'}
uniao = {'Marcos', 'Ellen', 'Patricia', 'Ana', 'Pedro', 'Julia', 'Gustavo', 'Fernando', 'Guilherme'}
uniao2 = {'Marcos', 'Ellen', 'Patricia', 'Ana', 'Pedro', 'Julia', 'Gustavo', 'Fernando', 'Guilherme'}

In [10]:
estudantes_python = {'Marcos', 'Patricia', 'Ellen', 'Pedro', 'Julia', 'Guilherme'}
estudantes_java = {'Fernando', 'Gustavo', 'Julia', 'Ana', 'Patricia'}

print(f'estudantes python = {estudantes_python}')
print(f'estudantes java = {estudantes_java}')

# Interseccao - forma 1, utilizando intersection()
interseccao = estudantes_python.intersection(estudantes_java)
print(f'intersecção = {interseccao}')

# Interseccao - forma 2, utilizando &
interseccao2 = estudantes_python & estudantes_java
print(f'intersecção2 = {interseccao2}')

estudantes python = {'Marcos', 'Ellen', 'Patricia', 'Pedro', 'Julia', 'Guilherme'}
estudantes java = {'Ana', 'Patricia', 'Julia', 'Gustavo', 'Fernando'}
intersecção = {'Patricia', 'Julia'}
intersecção2 = {'Patricia', 'Julia'}

In [11]:
estudantes_python = {'Marcos', 'Patricia', 'Ellen', 'Pedro', 'Julia', 'Guilherme'}
estudantes_java = {'Fernando', 'Gustavo', 'Julia', 'Ana', 'Patricia'}

print(f'estudantes python = {estudantes_python}')
print(f'estudantes java = {estudantes_java}')

# Exclusao

so_python = estudantes_python.difference(estudantes_java)
print(f'só python = {so_python}')

estudantes python = {'Marcos', 'Ellen', 'Patricia', 'Pedro', 'Julia', 'Guilherme'}
estudantes java = {'Ana', 'Patricia', 'Julia', 'Gustavo', 'Fernando'}
só python = {'Marcos', 'Ellen', 'Pedro', 'Guilherme'}

In [12]:
# Soma, Máximo, Mínimo e Tamanho

s = {1, 2, 3, 4, 5, 6}

print(sum(s))
print(max(s))
print(min(s))
print(len(s))

21
6
1
6