<a href="https://colab.research.google.com/github/Gustavo-RibMartins/estudos-python/blob/develop/cursos/python_07_colecoes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1.Listas

Listas em Python funcionam como vetores ou matrizes (arrays), com a diferença de serem **dinâmicos** e podermos colocar **qualquer** tipo de dado.

Por exemplo, em C/Java se você criar um array do tipo int com tamanho 5, este array será sempre do tipo inteiro e terá sempre no máximo 5 valores. Já em Python, não possui tamanho fixo, basta criar a lista e ir adicionando elementos.

As listas em Python são representadas por colchetes [].

In [1]:
# exemplo de uma lista
type([0, 1, 'gus', True])

list

In [ ]:
lista1 = [1, 99, 4, 27, 15, 22, 3, 1, 44, 42, 27]
lista2 = ['G', 'u', 's']
lista3 = []
lista4 = list(range(11))

Podemos facilmente checar se um determinado valor está presente na lista.

In [ ]:
num = 7
if num in lista4:
  print(f'Achei o número {num}!')
else:
  print(f'Não encontrei o número {num}...')

Achei o número 7!

Podemos facilmente ordenar uma lista.

In [ ]:
lista1.sort()
print(lista1)

[1, 1, 3, 4, 15, 22, 27, 27, 42, 44, 99]

Podemos facilmente contar o número de ocorrências de um valor em uma lista.

In [ ]:
# contar quantos numeros 1 existem na lista1
print(lista1.count(1))

# contar quantas letras 's' tem na lista2
print(lista2.count('s'))

2
1

Adicionar elementos em listas.
Obs.: para adicionar elementos em listas, utilizamos a função append.
Com append, só conseguimos adicionar 1 elemento por vez.

In [ ]:
print(lista1)
lista1.append(42)
print(lista1)

[1, 1, 3, 4, 15, 22, 27, 27, 42, 44, 99]
[1, 1, 3, 4, 15, 22, 27, 27, 42, 44, 99, 42]

É possível colocar uma lista dentro de outra lista.

In [ ]:
print(lista1)
lista1.append([100, 101, 102])
print(lista1)

[1, 1, 3, 4, 15, 22, 27, 27, 42, 44, 99, 42]
[1, 1, 3, 4, 15, 22, 27, 27, 42, 44, 99, 42, [100, 101, 102]]

Para juntar duas listas, usar o método extend().

In [ ]:
print(lista1)
lista1.extend([123, 44, 67])
print(lista1)

[1, 1, 3, 4, 15, 22, 27, 27, 42, 44, 99, 42, [100, 101, 102]]
[1, 1, 3, 4, 15, 22, 27, 27, 42, 44, 99, 42, [100, 101, 102], 123, 44, 67]

Podemos inserir um novo elemento na lista, informando a posição do índice ao invés de somente inserir o elemento no final da lista com o método insert().
Obs.: não substitui o valor, desloca os itens presentes para a direita.

In [ ]:
lista1 = [1, 99, 4, 27, 15, 22, 3, 1, 44, 42, 27]
lista1.insert(2, 'Novo Valor')
print(lista1)

[1, 99, 'Novo Valor', 4, 27, 15, 22, 3, 1, 44, 42, 27]

É simples juntar 2 listas somando-as.

In [ ]:
lista10 = [1, 2, 3]
lista11 = [4, 5, 6]
lista12 = lista10 + lista11
print(lista12)

[1, 2, 3, 4, 5, 6]

Imprimir a lista inversa.

In [ ]:
print(lista1)
lista1.reverse()
print(lista1)

[1, 99, 'Novo Valor', 4, 27, 15, 22, 3, 1, 44, 42, 27]
[27, 42, 44, 1, 3, 22, 15, 27, 4, 'Novo Valor', 99, 1]

Copiar uma lista

In [ ]:
lista1a = lista1
print(lista1a)

[27, 42, 44, 1, 3, 22, 15, 27, 4, 'Novo Valor', 99, 1]

Tamanho da lista/ quantidade de elementos.

In [ ]:
print(len(lista1))

12

Removendo o último elemento de uma lista.

In [ ]:
print(lista1)
lista1.pop()
print(lista1)

[27, 42, 44, 1, 3, 22, 15, 27, 4, 'Novo Valor', 99, 1]
[27, 42, 44, 1, 3, 22, 15, 27, 4, 'Novo Valor', 99]

Podemos remover um elemento pelo índice.

In [ ]:
# remover o primeiro elemento
print(lista1)
lista1.pop(0)
print(lista1)

[27, 42, 44, 1, 3, 22, 15, 27, 4, 'Novo Valor', 99]
[42, 44, 1, 3, 22, 15, 27, 4, 'Novo Valor', 99]

Podemos remover todos os elementos da lista.

In [ ]:
print(lista1)
lista1.clear()
print(lista1)

[42, 44, 1, 3, 22, 15, 27, 4, 'Novo Valor', 99]
[]

Operações com listas.

In [ ]:
lista1 = [1, 2, 3]

listaM = lista1 * 3
print(listaM)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

Podemos facilmente converter uma string para uma lista.

In [ ]:
nome = 'Gustavo Ribeiro Martins'
print(nome)
nome = nome.split()
print(nome)

Gustavo Ribeiro Martins
['Gustavo', 'Ribeiro', 'Martins']

**Obs.:** por padrão, o split() usa o espaço como delimitador dos elementos da lista. Podemos informar o delimitador.

In [ ]:
cpf = '123.456.789.01'
print(cpf)
cpf = cpf.split('.')
print(cpf)

123.456.789.01
['123', '456', '789', '01']

Convertendo uma lista em string.

In [ ]:
nome = ['Gustavo', 'Ribeiro', 'Martins']
print(nome)

nome = ' '.join(nome)
print(nome)

['Gustavo', 'Ribeiro', 'Martins']
Gustavo Ribeiro Martins

É possível iterar sobre as listas.

In [ ]:
carrinho = [] # lista vazia
produto = ''  # qualquer valor != 'sair'

while produto != 'sair':
  print("Adicione um produto na lista ou digite 'sair' para sair: ")
  produto = input()
  if produto != 'sair':
    carrinho.append(produto)

for produto in carrinho:
  print(produto)

Adicione um produto na lista ou digite 'sair' para sair:
Carro
Adicione um produto na lista ou digite 'sair' para sair:
PS5
Adicione um produto na lista ou digite 'sair' para sair:
Livro
Adicione um produto na lista ou digite 'sair' para sair:
Caixa
Adicione um produto na lista ou digite 'sair' para sair:
sair
Carro
PS5
Livro
Caixa

É possível acessar os elementos de forma indexada.

In [ ]:
#           0         1         2        3
cores = ['verde', 'amarelo', 'azul', 'branco']

print(cores[0]) # verde
print(cores[1]) # amarelo
print(cores[2]) # azul
print(cores[3]) # branco

verde
amarelo
azul
branco

In [ ]:
# Também é possível acessar de forma inversa

print(cores[-1]) # branco
print(cores[-2]) # azul
print(cores[-3]) # amarelo
print(cores[-4]) # verde

branco
azul

Gerar indice em um for.

In [ ]:
for indice, cor in enumerate(cores):
  print(indice, cor)

0 verde
1 amarelo
2 azul
3 branco

Listas é um tipo de coleção que **aceitam repetição**.

In [ ]:
lista = []
lista.append(42)
lista.append(42)
lista.append(43)
lista.append(43)
print(lista)

[42, 42, 43, 43]

Encontrar o índice de um elemento na lista.

In [ ]:
numeros = [5, 6, 7, 8, 9, 10]

print(numeros.index(6))
print(numeros.index(9))

1
4

Podemos fazer busca dentro de um range, ou seja, qual indice começar a buscar.

In [ ]:
numeros = [5, 0, 1, 2, 3, 4, 5, 6, 0, 1, 3, 5]

print(numeros.index(5, 1)) # buscar a partir do indice 1

6

Podemos fazer busca denrto de um range com início e fim.

In [ ]:
print(numeros.index(5, 7, 12)) # buscar o indice do valor 5 entre os indices 7 e 12

11

Operações com a lista.

In [ ]:
lista = [1, 2, 3, 4, 5, 6]

print(sum(lista)) # soma
print(max(lista)) # maximo
print(min(lista)) # minimo
print(len(lista)) # tamanho

21
6
1
6

Transformar uma lista em tupla.

In [ ]:
lista = [1, 2, 3, 4, 5, 6]
print(lista)
print(type(lista))

tupla = tuple(lista)
print(tupla)
print(type(tupla))

[1, 2, 3, 4, 5, 6]
<class 'list'>
(1, 2, 3, 4, 5, 6)
<class 'tuple'>

Desempacotamento de listas.

In [ ]:
lista = [1, 2, 3]

num1, num2, num3 = lista

print(num1)
print(num2)
print(num3)

1
2
3

**Copiando uma lista para outra**: Shallow Copy e Deep Copy


* Deep Copy: ao utilizar copy(), copiamos os dados de uma lista A para uma lista B, porém ambas são independentes. Modificando a lista B não afetamos a lista A.

In [ ]:
# Deep Copy

lista = [1, 2, 3]
print(f'lista = {lista}')

nova = lista.copy()
print(f'nova = {nova}')

nova.append(4)
print(f'nova = {nova}')
print(f'lista = {lista}')

lista = [1, 2, 3]
nova = [1, 2, 3]
nova = [1, 2, 3, 4]
lista = [1, 2, 3]

* Shallow Copy: utilizamos com listaA = listaB e as listas A e B se tornam dependentes. Modificando uma afeta a outra.

In [ ]:
# Shallow Copy

lista = [1, 2, 3]
print(f'lista = {lista}')

nova = lista
print(f'nova = {nova}')

nova.append(4)
print(f'nova = {nova}')
print(f'lista = {lista}')

lista = [1, 2, 3]
nova = [1, 2, 3]
nova = [1, 2, 3, 4]
lista = [1, 2, 3, 4]

# 2.Tuplas

São bastante parecidas com listas. Existem basicamente duas diferenças:

* As Tuplas são representadas por parenteses ();
* As Tuplas são imutáveis. Isso significa que ao se criar uma tupla ela não muda. Toda operação em uma tupla gera uma nova tupla.

In [13]:
# Listas (mutaveis)

print("Lista\n")

lista = [9, 4, 1, 6, 3]
print(type(lista))
print(lista)

lista.sort()
print(lista)

lista.append(42)
print(lista)

print("\nTupla\n")

# Tuplas (imutaveis)

tupla1 = (1, 2, 3, 4, 5, 6)
print(type(tupla1))
print(tupla1)

tupla2 = 1, 2, 3, 4, 5, 6 # ao separar por virgula sem parenteses, o python tbm entende que eh uma tupla
print(type(tupla2))
print(tupla2)

Lista

<class 'list'>
[9, 4, 1, 6, 3]
[1, 3, 4, 6, 9]
[1, 3, 4, 6, 9, 42]

Tupla

<class 'tuple'>
(1, 2, 3, 4, 5, 6)
<class 'tuple'>
(1, 2, 3, 4, 5, 6)

**Cuidado**: não existem tuplas de 1 elemento.

In [16]:
umElemento = (4) # Nao eh uma tupla
print(type(umElemento))

tupla3 = (4,) # Eh uma tupla
print(type(tupla3))

<class 'int'>
<class 'tuple'>

> Tuplas são definidas pela vírugla e não apenas pelo uso do parênteses.

In [18]:
tupla = tuple(range(11))
print(tupla)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [20]:
# Desempacotamento de tupla

tupla = ('Gustavo', 'Ribeiro', 'Martins')
nome, sobrenome, ultnome = tupla

print(tupla)
print(nome)
print(sobrenome)
print(ultnome)

('Gustavo', 'Ribeiro', 'Martins')
Gustavo
Ribeiro
Martins

Por serem imutávies, métodos de adição e remoção de elementos nas tuplas não existem.

In [21]:
# Operações matematicas

tupla = (1, 2, 3, 4, 5, 6)

print(sum(tupla))
print(max(tupla))
print(min(tupla))
print(len(tupla))

21
6
1
6

In [23]:
# Concatenação de Tuplas

tupla1 = (1, 2, 3)
tupla2 = (4, 5, 6)

print(tupla1)
print(tupla2)

print(tupla1 + tupla2)

print(tupla1) # continua sem alteracao
print(tupla2) # continua sem alteracao

(1, 2, 3)
(4, 5, 6)
(1, 2, 3, 4, 5, 6)
(1, 2, 3)
(4, 5, 6)

As tuplas são imutáveis, mas podemos sobrescrevê-las (não são bloqueadas para escrita).

In [24]:
tupla1 = 1, 2, 3
tupla2 = 4,
print(tupla1)

tupla1 = tupla1 + tupla2
print(tupla1)

(1, 2, 3)
(1, 2, 3, 4)

In [27]:
# Verificar se determinado elemento esta na tupla

tupla = (1, 2, 3)

print(1 in tupla)
print(100 in tupla)

True
False

In [29]:
# Iterando sobre uma tupla

tupla = (1, 2, 3)

for n in tupla:
  print(n)

for indice, valor in enumerate(tupla):
  print(indice, valor)

1
2
3
0 1
1 2
2 3

In [31]:
# Contando elementos emm uma tupla + convertendo string para tupla

tupla = tuple('Gustavo Ribeiro Martins')
print(tupla)

print(tupla.count('r'))

('G', 'u', 's', 't', 'a', 'v', 'o', ' ', 'R', 'i', 'b', 'e', 'i', 'r', 'o', ' ', 'M', 'a', 'r', 't', 'i', 'n', 's')
2

**Dicas na utilização de tuplas**

Devemos utilizar tuplas SEMPRE que não precisamos modificar os dados contidos em uma coleção.

In [1]:
# Exemplo 1

meses = ('Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro')
print(meses)

('Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro')

O acesso a elementos de uma tupla também é semelhante a de uma lista.

In [2]:
print(meses[5])

Junho

In [3]:
# Iterar com while

i = 0

while i < len(meses):
  print(meses[i])
  i = i + 1

Janeiro
Fevereiro
Março
Abril
Maio
Junho
Julho
Agosto
Setembro
Outubro
Novembro
Dezembro

In [4]:
# Verificando em qual índice um elemento está na tupla

print(meses.index('Junho'))

5

In [9]:
# Slicing

print(meses)
print(meses[6:12])

('Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro')
('Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro')

**Por que utilizar tuplas?**

- Tuplas são mais rápidas do que Listas;
- Tuplas deixam seu código mais seguro (imutabilidade).

In [11]:
# Copiando uma tupla para outra

tupla = (1, 2, 3)
print(tupla)

nova = tupla # Na tupla não temos o problema de Shallow Copy
print(nova)
print(tupla)

outra = (4, 5, 6)
nova = nova + outra

print(nova)
print(tupla)

(1, 2, 3)
(1, 2, 3)
(1, 2, 3)
(1, 2, 3, 4, 5, 6)
(1, 2, 3)