<a href="https://colab.research.google.com/github/Gustavo-RibMartins/estudos-python/blob/develop/cursos/python_07_colecoes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1.Listas

Listas em Python funcionam como vetores ou matrizes (arrays), com a diferença de serem **dinâmicos** e podermos colocar **qualquer** tipo de dado.

Por exemplo, em C/Java se você criar um array do tipo int com tamanho 5, este array será sempre do tipo inteiro e terá sempre no máximo 5 valores. Já em Python, não possui tamanho fixo, basta criar a lista e ir adicionando elementos.

As listas em Python são representadas por colchetes [].

In [2]:
# exemplo de uma lista
type([0, 1, 'gus', True])

list

In [3]:
lista1 = [1, 99, 4, 27, 15, 22, 3, 1, 44, 42, 27]
lista2 = ['G', 'u', 's']
lista3 = []
lista4 = list(range(11))

Podemos facilmente checar se um determinado valor está presente na lista.

In [4]:
num = 7
if num in lista4:
  print(f'Achei o número {num}!')
else:
  print(f'Não encontrei o número {num}...')

Achei o número 7!

Podemos facilmente ordenar uma lista.

In [5]:
lista1.sort()
print(lista1)

[1, 1, 3, 4, 15, 22, 27, 27, 42, 44, 99]

Podemos facilmente contar o número de ocorrências de um valor em uma lista.

In [6]:
# contar quantos numeros 1 existem na lista1
print(lista1.count(1))

# contar quantas letras 's' tem na lista2
print(lista2.count('s'))

2
1

Adicionar elementos em listas.
Obs.: para adicionar elementos em listas, utilizamos a função append.
Com append, só conseguimos adicionar 1 elemento por vez.

In [7]:
print(lista1)
lista1.append(42)
print(lista1)

[1, 1, 3, 4, 15, 22, 27, 27, 42, 44, 99]
[1, 1, 3, 4, 15, 22, 27, 27, 42, 44, 99, 42]

É possível colocar uma lista dentro de outra lista.

In [8]:
print(lista1)
lista1.append([100, 101, 102])
print(lista1)

[1, 1, 3, 4, 15, 22, 27, 27, 42, 44, 99, 42]
[1, 1, 3, 4, 15, 22, 27, 27, 42, 44, 99, 42, [100, 101, 102]]

Para juntar duas listas, usar o método extend().

In [9]:
print(lista1)
lista1.extend([123, 44, 67])
print(lista1)

[1, 1, 3, 4, 15, 22, 27, 27, 42, 44, 99, 42, [100, 101, 102]]
[1, 1, 3, 4, 15, 22, 27, 27, 42, 44, 99, 42, [100, 101, 102], 123, 44, 67]

Podemos inserir um novo elemento na lista, informando a posição do índice ao invés de somente inserir o elemento no final da lista com o método insert().
Obs.: não substitui o valor, desloca os itens presentes para a direita.

In [10]:
lista1 = [1, 99, 4, 27, 15, 22, 3, 1, 44, 42, 27]
lista1.insert(2, 'Novo Valor')
print(lista1)

[1, 99, 'Novo Valor', 4, 27, 15, 22, 3, 1, 44, 42, 27]

É simples juntar 2 listas somando-as.

In [11]:
lista10 = [1, 2, 3]
lista11 = [4, 5, 6]
lista12 = lista10 + lista11
print(lista12)

[1, 2, 3, 4, 5, 6]

Imprimir a lista inversa.

In [12]:
print(lista1)
lista1.reverse()
print(lista1)

[1, 99, 'Novo Valor', 4, 27, 15, 22, 3, 1, 44, 42, 27]
[27, 42, 44, 1, 3, 22, 15, 27, 4, 'Novo Valor', 99, 1]

Copiar uma lista

In [13]:
lista1a = lista1
print(lista1a)

[27, 42, 44, 1, 3, 22, 15, 27, 4, 'Novo Valor', 99, 1]

Tamanho da lista/ quantidade de elementos.

In [14]:
print(len(lista1))

12

Removendo o último elemento de uma lista.

In [15]:
print(lista1)
lista1.pop()
print(lista1)

[27, 42, 44, 1, 3, 22, 15, 27, 4, 'Novo Valor', 99, 1]
[27, 42, 44, 1, 3, 22, 15, 27, 4, 'Novo Valor', 99]

Podemos remover um elemento pelo índice.

In [16]:
# remover o primeiro elemento
print(lista1)
lista1.pop(0)
print(lista1)

[27, 42, 44, 1, 3, 22, 15, 27, 4, 'Novo Valor', 99]
[42, 44, 1, 3, 22, 15, 27, 4, 'Novo Valor', 99]

Podemos remover todos os elementos da lista.

In [17]:
print(lista1)
lista1.clear()
print(lista1)

[42, 44, 1, 3, 22, 15, 27, 4, 'Novo Valor', 99]
[]

Operações com listas.

In [21]:
lista1 = [1, 2, 3]

listaM = lista1 * 3
print(listaM)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

Podemos facilmente converter uma string para uma lista.

In [23]:
nome = 'Gustavo Ribeiro Martins'
print(nome)
nome = nome.split()
print(nome)

Gustavo Ribeiro Martins
['Gustavo', 'Ribeiro', 'Martins']

**Obs.:** por padrão, o split() usa o espaço como delimitador dos elementos da lista. Podemos informar o delimitador.

In [24]:
cpf = '123.456.789.01'
print(cpf)
cpf = cpf.split('.')
print(cpf)

123.456.789.01
['123', '456', '789', '01']

Convertendo uma lista em string.

In [25]:
nome = ['Gustavo', 'Ribeiro', 'Martins']
print(nome)

nome = ' '.join(nome)
print(nome)

['Gustavo', 'Ribeiro', 'Martins']
Gustavo Ribeiro Martins

É possível iterar sobre as listas.

In [26]:
carrinho = [] # lista vazia
produto = ''  # qualquer valor != 'sair'

while produto != 'sair':
  print("Adicione um produto na lista ou digite 'sair' para sair: ")
  produto = input()
  if produto != 'sair':
    carrinho.append(produto)

for produto in carrinho:
  print(produto)

Adicione um produto na lista ou digite 'sair' para sair:
Carro
Adicione um produto na lista ou digite 'sair' para sair:
PS5
Adicione um produto na lista ou digite 'sair' para sair:
Livro
Adicione um produto na lista ou digite 'sair' para sair:
Caixa
Adicione um produto na lista ou digite 'sair' para sair:
sair
Carro
PS5
Livro
Caixa

É possível acessar os elementos de forma indexada.

In [27]:
#           0         1         2        3
cores = ['verde', 'amarelo', 'azul', 'branco']

print(cores[0]) # verde
print(cores[1]) # amarelo
print(cores[2]) # azul
print(cores[3]) # branco

verde
amarelo
azul
branco

In [28]:
# Também é possível acessar de forma inversa

print(cores[-1]) # branco
print(cores[-2]) # azul
print(cores[-3]) # amarelo
print(cores[-4]) # verde

branco
azul

Gerar indice em um for.

In [29]:
for indice, cor in enumerate(cores):
  print(indice, cor)

0 verde
1 amarelo
2 azul
3 branco

Listas é um tipo de coleção que **aceitam repetição**.

In [30]:
lista = []
lista.append(42)
lista.append(42)
lista.append(43)
lista.append(43)
print(lista)

[42, 42, 43, 43]

Encontrar o índice de um elemento na lista.

In [34]:
numeros = [5, 6, 7, 8, 9, 10]

print(numeros.index(6))
print(numeros.index(9))

1
4

Podemos fazer busca dentro de um range, ou seja, qual indice começar a buscar.

In [35]:
numeros = [5, 0, 1, 2, 3, 4, 5, 6, 0, 1, 3, 5]

print(numeros.index(5, 1)) # buscar a partir do indice 1

6

Podemos fazer busca denrto de um range com início e fim.

In [38]:
print(numeros.index(5, 7, 12)) # buscar o indice do valor 5 entre os indices 7 e 12

11

Operações com a lista.

In [42]:
lista = [1, 2, 3, 4, 5, 6]

print(sum(lista)) # soma
print(max(lista)) # maximo
print(min(lista)) # minimo
print(len(lista)) # tamanho

21
6
1
6

Transformar uma lista em tupla.

In [43]:
lista = [1, 2, 3, 4, 5, 6]
print(lista)
print(type(lista))

tupla = tuple(lista)
print(tupla)
print(type(tupla))

[1, 2, 3, 4, 5, 6]
<class 'list'>
(1, 2, 3, 4, 5, 6)
<class 'tuple'>

Desempacotamento de listas.

In [44]:
lista = [1, 2, 3]

num1, num2, num3 = lista

print(num1)
print(num2)
print(num3)

1
2
3

**Copiando uma lista para outra**: Shallow Copy e Deep Copy


* Deep Copy: ao utilizar copy(), copiamos os dados de uma lista A para uma lista B, porém ambas são independentes. Modificando a lista B não afetamos a lista A.

In [47]:
# Deep Copy

lista = [1, 2, 3]
print(f'lista = {lista}')

nova = lista.copy()
print(f'nova = {nova}')

nova.append(4)
print(f'nova = {nova}')
print(f'lista = {lista}')

lista = [1, 2, 3]
nova = [1, 2, 3]
nova = [1, 2, 3, 4]
lista = [1, 2, 3]

* Shallow Copy: utilizamos com listaA = listaB e as listas A e B se tornam dependentes. Modificando uma afeta a outra.

In [48]:
# Shallow Copy

lista = [1, 2, 3]
print(f'lista = {lista}')

nova = lista
print(f'nova = {nova}')

nova.append(4)
print(f'nova = {nova}')
print(f'lista = {lista}')

lista = [1, 2, 3]
nova = [1, 2, 3]
nova = [1, 2, 3, 4]
lista = [1, 2, 3, 4]